{% load static %}
<div class="header">

  
            <div class="header-left">
               <img src="{% static 'assets/img/logo.png' %}" alt="Logo"  width="100" height="100">
               
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <div class="top-nav-search">
               <form action="/search/">
                  <input type="text" class="form-control" placeholder="Search here" name="q">
                  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">


               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  {% comment %} <span class="user-img"><img class="rounded-circle" src="{{user.profile_pic}}" width="35" alt="{{user.first_name}}&nbsp;{{user.last_name}}"></span> {% endcomment %}
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">
                       
                        <div class="user-text">
                           <h6>{{request.user.username}}</h6>
                           {% if user.user_type == '1' %}
                           <p class="text-muted mb-0">Entorno Admin</p>
                           {% elif user.user_type == '2' %}
                           <p class="text-muted mb-0">Manager</p>

                           {% else %}
                           <p class="text-muted mb-0">Employee</p>
                           {% endif %}
                        </div>
                     </div>
                     <a class="dropdown-item" href="/Admin/auth/profile_update/{{request.user.id}}/">Update Profile</a>
                     <a class="dropdown-item" href="/Admin/auth/logout/">Logout</a>
                  </div>
               </li>
            </ul>
         </div>